@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none !important;
    list-style-type: none !important;
}

.font-family {
    font-family: "Poppins", sans-serif;
}

.line-height-100 {
    line-height: 100%;
}

.transition {
    transition: all 100ms linear;
}

.main-section {
    padding-top: 17px;
    padding-bottom: 76px;
}

.input {
    width: 315px;
    height: 43px;
    border-radius: 25.5px;
    padding: 8px 24px;
    border-width: 1px;
}



































/* margin property */
.ml-59 {
    margin-left: 59px;

}













/* max-width */

.max-w-160 {
    max-width: 160px;
}